@font-face {
    font-family: 'Praetorium';
    src: url(../fonts/praebrg.ttf) format('truetype');
}

@font-face {
    font-family: 'Cinzel Regular';
    src: url(../fonts/cinzel-regular.ttf) format('truetype');
}

html,
body { height: 100%; }

body {
    position: relative;
    background-image: url(../images/Colosseum-Wallpaper.jpg);
    background-position: center center;
}

main {
    background-color: #fcfcea;
    font-family: 'Cinzel Regular', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    min-width: 80%;
    min-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.title {
    color: #A11111;
    font-family: 'Praetorium', Georgia, 'Times New Roman', Times, serif;
    font-size: 8rem;
    margin: 2rem 1rem;
}

.start-button {
    font-family: 'Cinzel Regular', Georgia, 'Times New Roman', Times, serif;
    background-color: #90c6ef;
    color: #222222;
    border: .2rem solid #c9a758;
    font-size: 3.5rem;
    font-weight: bold;
    height: 5rem;
    width: 25rem;
    position: absolute;
    margin-left: -12.5rem;
    top: 50%;
    margin-top: -2.5rem;
}

.question-div {
    margin: 0 13rem;
    color: #222222;
    line-height: 1.5;
}

.question-info {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.answers {
    display: block;
    font-family: 'Cinzel Regular', Georgia, 'Times New Roman', Times, serif;
    background-color: #fcfcea;
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    border: none;
}

.answers:hover {
    font-family: 'Cinzel Regular', Georgia, 'Times New Roman', Times, serif;
    background-color: #90c6ef;
    border: .2rem solid #c9a758;
}

.incorrect-text {
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

img {
    height: 19rem;
}

.stats {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.reset-button {
    font-family: 'Cinzel Regular', Georgia, 'Times New Roman', Times, serif;
    background-color: #90c6ef;
    color: #222222;
    border: .2rem solid #c9a758;
    font-size: 3.1rem;
    width: 28rem;
}

/* ------------ Media Queries -------------- */

@media only screen and (max-width: 1280px) {
   
    .title {
        font-size: 6rem;
        margin: 0 .5rem 1rem;
    }

    .start-button {
        font-size: 3rem;
        height: 4.5rem;
        width: 20rem;
        margin-left: -10rem;
        margin-top: -2.25rem;
    }

    .question-div { margin: 0 6rem; }

    .question-info {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .answers { font-size: 2.5rem; }
    .answers:hover { border-width: .15rem; }

    .incorrect-text {
        font-size: 1.3rem;
        margin-bottom: .3rem;
    }
    
    img { height: 16rem; }
    
    .end-text {
        font-size: 2.4rem;
        margin-bottom: 1.7rem;
    }

    .stats {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }
    
    .reset-button {
        font-size: 2.4rem;
        width: 21rem; 
    }
}